exclude: '^gqlgen'
fail_fast: true
repos:
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: v0.4.0
    hooks:
      - id: go-fmt
      - id: go-vet
      - id: go-lint
      - id: go-imports
      - id: validate-toml
      - id: no-go-testing
      - id: go-mod-tidy
      - id: go-build