name: Go-Template CI Master - Test

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master


jobs:

  lint-test-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - name: Install pre-commit dependencies
        run: |
          go install github.com/fzipp/gocyclo/cmd/gocyclo@latest
          go install golang.org/x/tools/cmd/goimports@latest
          go install github.com/go-critic/go-critic/cmd/gocritic@latest
          go install golang.org/x/lint/golint@latest
          go install github.com/BurntSushi/toml/cmd/tomlv@latest
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest

      - uses: pre-commit/action@v3.0.0
      - name: Build
        run:  go build ./...
      - name: Test
        run:  ./test.sh
      - uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          files: ./coverage.out
          verbose: true
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Install golangci
        uses: actions/checkout@v2
      - uses: golangci/golangci-lint-action@v3
        with:
          version: v1.29